<!DOCTYPE html>
<html lang="pl">
<head>
      <meta charset="UTF-8">
      <title>Weather App</title>
</head>
<body>
<div class="header1">
      <h1>Weather Data API</h1>
      <p>URL Format: http://127.0.0.1:5000/api/v1/station/date</p>
      <p>For one station for ONE date: http://127.0.0.1:5000/api/v1/10/1988-10-25</p>
      <p>For one station for ALL dates: http://127.0.0.1:5000/api/v1/10</p>
      <p>For one station for ONE date: http://127.0.0.1:5000/api/v1/yearly/10/year</p>
      <p>{{data|safe}}</p>
</div>
</body>
</html>